*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 150px auto;
    width: 80%;
    float: left;
    color: white;
}

img{
    width: 500px;
    height: 500px;
    float: left;
}